@inherits LayoutComponentBase

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <h3>Not authorized</h3>
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

